.callout.callout-info
    h2.
      Your opinion counts
.row
  .col-md-6.col-x6-12
    .box.box-solid.box-primary
        .box-header
            h3 Leave your opinion
        .box-body
            form.contact-form(name="contactForm", ng-submit="contactForm.$valid && contact.submit()")
                .form-group(ng-class="{ ngValid: contactForm.name.$valid && contactForm.name.$dirty, ngInvalid: !contactForm.name.$valid && contactForm.name.$dirty}")
                    label.control-label Name
                    input.form-control(type='name', placeholder='Name', name='name', ng-model="contact.form.name", required)
                .form-group(ng-class="{ ngValid: contactForm.email.$valid && contactForm.email.$dirty, ngInvalid: !contactForm.email.$valid && contactForm.email.$dirty}")
                    label.control-label Email
                    input.form-control(type='email', placeholder='Email', name='email', ng-model="contact.form.email", required)
                .form-group(ng-class="{ ngValid: contactForm.comment.$valid && contactForm.comment.$dirty, ngInvalid: !contactForm.comment.$valid && contactForm.comment.$dirty}")
                    label.control-label Comment
                    textarea.form-control(placeholder='Place your comment here', name='comment', ng-model="contact.form.comment", rows="3", required)
                input.btn.btn-primary(type="submit", value="Send")
                    
  .col-md-6.col-x6-12
    .box.box-solid.box-primary
        .box-header
            h3 Preview
        .box-body
            p Name: {{contact.form.name}}
            p Email: {{contact.form.email}}
            p Comment: {{contact.form.comment}}

.row
  .col-md-12.col-x6-12
    .box.box-solid.box-primary
      .box-header
        h3 Comments
      .box-body
        .col-md-4.col-x6-12(ng-repeat="comment in contact.comments")
          .box.box-solid.box-primary
            .box-header
              h4
                a(href="mailto:{{comment.email}}"){{comment.name}}
            .box-body
              {{comment.comment}}