.callout.callout-info
    h2.
      Your opinion counts
.row
  .col-md-6.col-x6-12
    .box.box-solid.box-primary
        .box-header
            h3 Leave your opinion
        .box-body
          contact-form-directive
  .col-md-6.col-x6-12
    .box.box-solid.box-primary
        .box-header
            h3 Preview
        .box-body
            p Name: {{contact.form.name}}
            p Email: {{contact.form.email}}
            p(style="word-break: break-all;") Comment: {{contact.form.comment}}

.row
  .col-md-12.col-xs-12
    .box.box-solid.box-primary
      .box-header
        h3 Comments
      .box-body
        .col-md-6.col-xs-12(ng-repeat="comment in contact.comments | orderBy: '-average'")
          .box.box-solid.box-primary
            .box-header
              h4
                .col-xs-6
                  a(href="mailto:{{comment.email}}") {{comment.name}}
                .col-xs-6
                  form(name="votesForm", ng-submit="contact.submitVote(comment)")
                    .input-group
                      select.form-control(style="float:right;width: 35%;", ng-model="comment.userVote")
                        option(value=5) 5
                        option(value=4) 4
                        option(value=3) 3
                        option(value=2) 2
                        option(value=1) 1
                      span.input-group-btn
                        input.btn.btn-warning(type='submit', value="Vote")
            .box-body
              p Val.:{{comment.average.toFixed(2)}} in {{comment.votes}} votes
              p {{comment.comment}}