.row
  .col-12
    .callout.callout-primary
      h2 Welcome to my brand new awesome AngularJs Practice Page
    .row
      .col-md-3
        .box.box-solid.box-primary
          .box-header
            h3 Coffescript?
          .box-body
            a(href='http://coffeescript.org', target="_blank") Learn Coffee
      .col-md-3
        .box.box-solid.box-primary
          .box-header
            h3 Jade?
          .box-body
            a(href='http://jade-lang.com', target="_blank") Learn Jade
      .col-md-3
        .box.box-solid.box-primary
          .box-header.with-border
            h3 AngularJs?
          .box-body
            a(href='https://angularjs.org/', target="_blank") Lear AngularJs
